* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  flex: 0, 0 1;
  width: 100%;
  margin-bottom: 20px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(14, 12, 12, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  flex: 0 1 0;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}
.search {
  margin-right: 0px;
  flex: 1 2 1;
  width: 600px;
}

.search_btn {
  height: 32px;
  width: 10%;
  margin-right: -10px;
  border: none;
}
.search_btn .fa-car {
  width: auto;
  height: 30px;
  margin: auto;
}
.search_bar {
  width: 90%;
  height: 32px;
  padding: 5px;
  margin-right: -6px;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .logo > img {
    width: auto;
    height: 50px;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(14, 12, 12, 0.7);
  }
}

/* Top Container */
.top-container {
  min-height: 80vh;
  background-color: rgb(253, 253, 253);
  display: flex;
  align-items: stretch;
}

.top-container > div {
  background-color: rgb(253, 253, 253);
  color: rgb(2, 2, 2);
  width: 400px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  margin-top: 20px;
}

.main_video {
  background-color: rgb(253, 253, 253);
  flex-grow: 8;
}

.previews {
  background-color: silver;
  flex-grow: 2;
}

.previews__details {
  display: flex;
  align-items: stretch;
  border-bottom: 1px black solid;
}

.previews__detail {
  width: 40%;
  background-color: rgb(253, 253, 253);
  font-size: 10px;
  font-weight: 600;
  display: block;
  padding: 10px;
}

.previews__detail .name {
  margin-top: 0;
  display: block;
  width: 100%;
  font-weight: bolder;
  color: black;
}

.views_date {
  display: block;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 10px;
}

.views_date span {
  margin-left: 20px;
}
.image_priview {
  width: 48%;
  height: 160px;
}

.image_priview > img {
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.video__title {
  font-size: 19px;
  font-weight: bolder;
  display: inline-block;
  width: 100%;
  color: rgb(8, 14, 19);
  margin-right: 0;
  margin-top: -100px;
  text-align: start;
}

.priviews__detail-video {
  width: 100%;
  display: inline-block;
  border-bottom: 3px solid bisque;
  margin-top: -120px;
}

.iconss {
  max-width: 60%;
  float: right;
}

.iconss ul {
  list-style: none;
}

.iconss ul li {
  display: inline;
  margin-right: 30px;
  color: black;
}

.views_date_main {
  max-width: 50%;
  float: left;
  display: inline-block;
}

.views_date_main ul {
  list-style: none;
}

.views_date_main ul li {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
}

.clear-fix {
  display: table;
  clear: both;
}

.subscribe {
  text-decoration: none;
  background-color: rgb(190, 14, 14);
  color: rgb(250, 245, 245);
  margin: 20px;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid snow;
  font-weight: 700;
  font-size: 20px;
}

.images_owner {
  width: 100px;
  height: 100px;
  float: left;
  --webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  border-radius: 50% solid;
}

.images_owner img {
  width: 100%;
  height: 100%;
}

.subscriber {
  float: right;
  display: block;
  width: 200px;
}

.subscriber .name_1 {
  margin-top: 0;
  font-size: 16px;
  display: block;
  width: 100%;
  margin: 5px;
  font-weight: 700;
}

.subscriber .name_2 {
  font-size: 15px;
  display: block;
  width: 100%;
  margin: 5px;
  font-weight: 500;
  margin-top: -50px;
}
